.box {
  height: 50px;
  width: 50px;
}

.group1 {
  background-color: aquamarine;
  position: relative;
  top: 25px;
  left: -150px;
  border-radius: 50%;
}

.group2 {
  background-color: lime;
}

#wrap {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.svg {
  width: 900px;
  height: 300px;
  overflow: hidden;
}

.n-1 {
  stroke: #5E89FB;
}
.o-1 {
  stroke: #FB155A;
}
.c {
  stroke: #18FF92;
}
.k {
  stroke: #5E89FB;
}
.s {
  stroke: #FB155A;
}
._ {
  stroke: #18FF92;
}
.o-2 {
  stroke: #5E89FB;
}
.n-2 {
  stroke: #FB155A;
}

.path-box {
  position: relative;
  height: 200px;
  width: 200px;
}

.box-n-1 {

}
.box-o-1 {
  left: -100px;
}
.box-c {
  left: -200px;
}
.box-k {
  left: -315px;
}
.box-s {
  top: -200px;
  left: 385px;
}
.box-_ {
  top: -200px;
  left: 285px;
}
.box-o-2 {
  top: -200px;
  left: 178px;
}
.box-n-2 {
  top: -200px;
  left: 78px;
}